.cabecalho {
    background-color: rgb(0, 255, 34);
    color: black;
    display: flex;
    padding: 24px 0;
}

.Section1 {
    background-color: rgb(0, 0, 0);
    padding: 100px;
}

.section2 {
    background-color: rgb(3, 15, 121);
    padding: 100px;
}

.section2 image{
    width: 40%;
}